h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}
body {
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}
aside {
    height: 100 px;
    width: 100 px;
}
footer {
    margin-top: 50px;
}